div.ai-planner-container-3 {
    margin-top:50vw;
    padding: 0px 30px 0px 30px;
}

.ai-planner-container-2 > h3 {
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 16px;
    color: #C084CC;
}

.ai-content-container-3 {
    position: relative;
    min-width: 335px;
    height: 250px;
    border: transparent;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
}

.ai-planner-container-2 {
    position: absolute;
    bottom: 10px;
    width: 100vw;
    height: 62vh;
    z-index: 10;
    background-color: #fff;
    border-radius: 45px 45px 0px 0px;
}

.ai-content-picture {
    min-width: 335px;
    height: 140px;
}

.ai-planner-time {
    position: absolute;
    right: 25px;
    bottom: 20px;
    color: #C084CC;
}

div.empty-div {
    width: auto;
    height: 30px;
}