
/* @import url("https://cdn.syncfusion.com/ej2/material.css"); */


.ai-planner-img-first {
    position: relative;
    max-width: 100vw;
    height: 25vh;
    background-image: url('https://images.unsplash.com/photo-1504609773096-104ff2c73ba4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    padding: 25px 10px 10px 10px;
}

.back-button {
    z-index: 10;
    min-width: 35px;
    height: 35px;
    border: 0;
    border-radius: 50%;
}

.back-button > p {
    font-size: 20px;
    color: rgba(0,0,0,0.6);
}

h2 {
    margin-top: 50px;
    margin-left: 20px;
    color: #EAEFF2;
}

.ai-planner-next {
    color: rgba(0,0,0,0.6);
}

.ai-planner-location {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 20px 10px 0px;
    border-radius: 10px;
    border: 0;
    min-width: 85%;
    font-size: 18px;
    color: rgba(0,0,0,0.7);
}

.calendar-container {
    margin-top: 20px;
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
}

.ai-planner-1-title {
    margin-top: 70px;
    margin-left: 20px;
    color: rgba(0,0,0,0.7);
}

.calendar-image {
    margin-top: 30px;
    min-width: 300px;
    max-width: 320px;
    height: 300px;
}

button.ai-planner-next {
    margin-top: 35px;
    width: 100%;
    padding: 10px 10px 10px 10px;
    background-color: #DAB9E6;
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    font-weight: 600;
}