@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) {

    .top-container {
        top:0;
        left: 0;
        width: 100vw;
        height: 50vh;
        background-image: url('https://images.unsplash.com/photo-1504214208698-ea1916a2195a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0px 0px 40px 40px;
        box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
        position: relative;
    }

    .ai-planner-text {
        margin-left: 10px;
        padding: 10vw 20px 0px 20px;
        color: white;
        font-size: 18px;
    }

    .ai-planner-title {
        margin-left: 20px;
        padding: 10px 30px 0px 10px;
        width: 220px;
        color: white;
    }
    
    .ai-planner-button {
        margin-left: 30px;
        margin-top: 20px;
        padding: 10px 10px 10px 10px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 20px;
        color: rgba(0, 0, 0, 0.5);
        background-color: #DAB9E6;
        border: 0;
    }

    .catagories-container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px 10px 10px 10px;
        row-gap: 15px;
        margin-top: 15px
    }
    
    .categories-button-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .categories-button {
        padding: 10px 10px 10px 10px;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        border: 1px solid rgba(0,0,0,0.1);
        background-color:#ffffff;
    }
    
    .categories-button > p {
        font-size: 24px;
        margin: -3px;
        color: #C084CC;
    }
    
    .categories-button-div > label {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.65);
    }


    .upcoming-festival-title {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        color: rgba(0, 0, 0, 0.65)
    }

    .festival-container {
        padding-left: 0px;
    }

    div.empty-div {
        width: auto;
        height: 30px;
    }
    
    
}
 
