@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
 
/* Default Design */
.gfg-div {
 
    /* To make all elements center */
    display: flex;
    justify-content: center;
    align-items: center;
 
    /* Default Styling */
    margin: 20px auto;
    padding: 30px;
    font-size: 30px;
    width: 300px;
    height: 300px;
    background-color: darkseagreen;
    color: black;
}
 
/* For Desktop View */
@media screen and (min-width: 1024px) {
    .gfg-div {
        background-color: #63c971;
        color: #fff;
    }
}
 
/* For Tablet View */
@media screen and (min-device-width: 768px)
    and (max-device-width: 1024px) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: orange;
        color: black;
    }
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) {
    nav.top-menu {
        /* position: absolute;
        top: 0; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 10px 10px 10px;
        width: 100%;
    }

    div.middle-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button.menu-tap {
        min-width: 35px;
        height: 35px;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        color: rgba(0,0,0,0.7);
    }

    .menu-tap  {
        margin-top: 2.5px;
        font-size: 15px;
        color: rgba(0,0,0,0.7);
    }
    button.account-tap {
        min-width: 35px;
        height: 35px;
        border: 0;
        border-radius: 50%;
    }

    .account-tap > p {
        margin-top: 2.5px;
        font-size: 15px;
        color: rgba(0,0,0,0.7);
        cursor: pointer;
    }

    .tab-menu-div {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        min-width: 50vw;
        height: 100vh;
        transition: 0.2s;
        transition: left 2s ease;
    }

    ul.tab-menu-ul {
        padding: 20px 20px 20px 20px;
    }

    ul.tab-menu-ul > li {
        list-style: none;
        margin-top: 30px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        color: rgba(0,0,0,0.6);
    }

    ul.tab-menu-ul > p {
        margin-top: 12PX;
        font-size: 23px;
        font-weight: 900;
        margin-bottom: 40px;
        color: rgba(0,0,0,0.7);
    }
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
    and (orientation: landscape) {
    .gfg-div {
        width: 400px;
        height: 200px;
        background-color: cyan;
        color: black;
    }
}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen
    and (max-device-width: 640px) {
    .gfg-div {
        width: 400px;
        height: 200px;
        background-color: chartreuse;
        color: black;
    }
}
 
/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: brown;
        color: black;
    }
}
 
/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px)
    and (device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: cornflowerblue;
        color: black;
    }
}
 
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px)
    and (min-device-width: 375px)
    and (-webkit-min-device-pixel-ratio: 3) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: darkgoldenrod;
        color: black;
    }
};